Repository shtennikov/visitor-reviews: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, eslint --fix

feat: implement the BaseComponent class
  src/components/BaseComponent.ts
Due: prettier --write --config .prettierrc, eslint --fix

feat: implement the user-info component
  src/components/user-info/index.ts
  src/components/user-info/user-info.css
Due: prettier --write --config .prettierrc, eslint --fix

chore: add basic styles
  src/style/_common.css
  src/style/_variables.css
  src/style/index.css
Due: prettier --write --config .prettierrc

type: add respondent interface
  src/types/respondent.interface.ts
Due: prettier --write --config .prettierrc, eslint --fix

chore: add avatar cover image
  images.d.ts
  src/assets/avatar.png
Due: prettier --write --config .prettierrc, eslint --fix

fix: fix avatar
  src/components/user-info/index.ts
  src/components/user-info/user-info.css
  src/style/_variables.css
Due: prettier --write --config .prettierrc, eslint --fix

feat: implement user-badge component
  src/components/user-bage/index.ts
  src/components/user-bage/user-bage.css
Due: prettier --write --config .prettierrc, eslint --fix

feat: implement tooltip showing
  src/components/user-bage/index.ts
  src/components/user-info/user-info.css
Due: prettier --write --config .prettierrc, eslint --fix

feat: implement answer component
  src/components/answer/answer.css
  src/components/answer/index.ts
  src/components/user-bage/user-bage.css
Due: prettier --write --config .prettierrc, eslint --fix

feat: implement answer list component
  src/assets/close-button.svg
  src/components/answer-list/answer-list.css
  src/components/answer-list/index.ts
  src/components/answer/answer.css
  src/components/user-bage/user-bage.css
  src/style/_common.css
  src/style/_variables.css
  src/types/answer.interface.ts
Due: prettier --write --config .prettierrc, eslint --fix

feat: implement close button component
  src/components/close-button/close-button.css
  src/components/close-button/index.ts
Due: prettier --write --config .prettierrc, eslint --fix

fix: fix answer-list's background
  src/components/answer-list/answer-list.css
Due: prettier --write --config .prettierrc

feat: implement expander component
  src/assets/caret-down.svg
  src/assets/caret-up.svg
  src/components/expander/expander.css
  src/components/expander/index.ts
  src/types/questionOptions.interface.ts
Due: prettier --write --config .prettierrc, eslint --fix

chore: add json-loader to webpack
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write --config .prettierrc, eslint --fix

refactor: change interface name
  src/components/comment-list/comment-list.css
  src/components/comment-list/index.ts
  src/components/expander/index.ts
  src/types/comment.interface.ts
  src/types/question.interface.ts
  src/types/questionOptions.interface.ts
Due: prettier --write --config .prettierrc, eslint --fix

feat: implement question card
  src/components/expander/index.ts
  src/components/question-card/index.ts
  src/components/question-card/question-card.css
  src/core/EventEmitter.ts
Due: prettier --write --config .prettierrc, eslint --fix

refactor: corrent render functions
  src/components/answer/index.ts
  src/components/comment-list/index.ts
  src/components/user-bage/index.ts
  src/components/user-info/index.ts
Due: prettier --write --config .prettierrc, eslint --fix

refactor: change component name
  src/components/comment-list/index.ts
  src/components/comment/comment.css
  src/components/comment/index.ts
Due: prettier --write --config .prettierrc, eslint --fix

feat: implement close button in comment list
  src/components/comment-list/comment-list.css
  src/components/comment-list/index.ts
  src/style/_variables.css
Due: prettier --write --config .prettierrc, eslint --fix

fix: fix tooltip
  src/components/user-bage/index.ts
Due: prettier --write --config .prettierrc, eslint --fix

type: fix types in base component
  src/components/BaseComponent.ts
Due: prettier --write --config .prettierrc, eslint --fix

feat: implement closing the list via the button
  src/components/comment-list/index.ts
  src/components/question-card/index.ts
Due: prettier --write --config .prettierrc, eslint --fix

refactor: put the updates in a separate method
  src/components/question-card/index.ts
Due: prettier --write --config .prettierrc, eslint --fix

fix: rename classes
  src/components/comment/comment.css
  src/components/comment/index.ts
Due: prettier --write --config .prettierrc, eslint --fix

feat: add styles
  src/components/comment-list/comment-list.css
  src/components/comment/comment.css
  src/components/expander/expander.css
  src/components/question-card/question-card.css
  src/style/_common.css
  src/style/_fonts.css
Due: prettier --write --config .prettierrc

feat: add main page component
  src/pages/main/index.ts
  src/pages/main/main.css
Due: prettier --write --config .prettierrc, eslint --fix

fix: fix word wrapping of comment
  src/components/comment/comment.css
Due: prettier --write --config .prettierrc

chore: add data
  src/data/db.json
Due: prettier --write --config .prettierrc

feat: implement app entry point
  src/main.ts
Due: prettier --write --config .prettierrc, eslint --fix

Updates
  assets/28c7a723846ac740c641.svg
  assets/3586571c6da680e163c1.png
  assets/a9cd1d125a4b3c4013df.svg
  assets/c2e4a67b396523a84443.svg
  favicon.png
  index.html
  script.ee5b184571d7a81e9075.js
  style.099d0b034666679fc2e5.css
Due: prettier --write --config .prettierrc, eslint --fix

chore: add gh-pages
  package-lock.json
  package.json
Due: prettier --write --config .prettierrc

fix: fix word wrapping of user name
  src/components/comment/comment.css
Due: prettier --write --config .prettierrc

docs: add README.md
  README.md
Due: none

Updates
  index.html
  style.b563d04820880b54ff3e.css
Due: prettier --write --config .prettierrc

Path conditions:
  prettier --write --config .prettierrc: any of: *.{js,ts,scss,css,html,css,json}
  eslint --fix: any of: *.{js,ts}
